{% extends 'insta/base.html' %}
{% load crispy_forms_filters %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <main class="profile-container">
            <section class="profile">
                <header class="profile__header">
                    <div class="profile__avatar-container">
                        <img 
                            src="{{ user.profile.profile_photo.url }}"
                            class="profile__avatar"
                        />
                    </div>
                    <div class="profile__info">
                        <div class="profile__name">
                            <h1 class="profile__title">{{ user.username }}</h1>
                                {% if request.user == user %}
                                <button type="button"><a href="{% url 'accounts:edit_profile' %}">Edit profile</a></button>
                                {% elif request.user.profile not in user.profile.followed_by.all %}
                                <button type="button"><a class="follow_button" href="{% url 'accounts:follow_profile' user.id  %}" follow-href="{% url 'accounts:follow_profile' user.id %}" data-follow={{ user.profile.followed_by.count }} >Follow</a></button>
                                {% elif request.user.profile in user.profile.followed_by.all %}
                                <button type="button"><a class="follow_button" href="{% url 'accounts:follow_profile' user.id %}" follow-href="{% url 'accounts:follow_profile' user.id %}" data-follow={{ user.profile.followed_by.count }}  >Following</a></button>
                                {% endif %}
                        </div>
                        <ul class="profile__numbers">
                            <li class="profile__posts">
                                <span class="profile__number u-fat-text">{{ user.posts.count }}</span> posts
                            </li>
                            <li class="profile__followers">
                                <span class="profile__number u-fat-text">{{ user.profile.followed_by.count }}</span> followers
                            </li>
                            <li class="profile__following">
                                <span class="profile__number u-fat-text">{{ user.profile.follows.count }}</span> following
                            </li>
                        </ul>
                        <div class="profile__bio">
                            <span class="profile__full-name u-fat-text">{{ user.profile.name }}</span>
                            <p class="profile__full-bio">{{ user.profile.bio|linebreaks }}</p>
                            <a href="http://serranoarevalo.com" class="profile__link u-fat-text">serranoarevalo.com</a>
                        </div>
                    </div>
                </header>
                <div class="profile__pictures">
                     {% for post in posts %}
                    <a href="image-detail.html" class="profile-picture">
                        <img
                            src="{{ post.image.url }}"
                            class="profile-picture__picture"
                        />
                        <div class="profile-picture__overlay">
                            <span class="profile-picture__number">
                                <i class="fa fa-heart"></i> {{ post.likes.count }}
                            </span>
                            <span class="profile-picture__number">
                                <i class="fa fa-comment"></i> 39
                            </span>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </section>
        </main>
{% endblock %}
