{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock%}| Zabinsta</title>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    </head>
    <body>

        {% block content %}


        {% endblock %}


         <script>
        // function updateText(btn, newCount){
        //     btn.text(newCount)
        // }
        $(".like-btn").click(function(e){
        e.preventDefault()
        var this_ = $(this)
        var likeUrl = this_.attr("data-href")
        var likeCount = parseInt(this_.attr("data-likes")) | 0
        var addLike = likeCount + 1
        var removeLike = likeCount - 1
        $.ajax({
            url: likeUrl,
            method: "get",
            data: {},
            success: function(data){
                console.log(data)
                var NewLikes;
                if (data.liked){
                    $(".likes_count").text(addLike + " likes")
                    // add one like
                } else {
                    $(".likes_count").text(removeLike + " likes")


                    // remove one like
                }
            }, error: function(error){
                console.log(error)
                console.log("error")
            }
        })
    })
    </script>
    <script>
        $(".follow_button").click(function(e){
            e.preventDefault()
            var thiss_ = $(this)
            var follow_url = thiss_.attr("follow-href")
            var follow_count = parseInt(thiss_.attr("data-follow")) | 0
            var addfollow = follow_count + 1
            var removefollow = follow_count - 1
            if (follow_url){
                $.ajax({
                    url: follow_url,
                    method: "get",
                    data: {},
                    success: function(data){
                        console.log(data)
                        if (data.follow){
                            $(".number_of_followers").text(addfollow)
                            $(".follow_button").text("Following")
                        } else {
                            $(".number_of_followers").text(removefollow)
                            $(".follow_button").text("Follow")
                        }

                    }, error: function(error){
                    console.log(error)
                    console.log("error")}

                })
            }

        })
    </script>

       <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
        <script src="{% static 'js/app.js' %}"></script>
    </body>
</html>
