{% extends 'insta/base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% block title %}
Craete Feed
{% endblock%}
{% block content %}
<body>
{% include 'insta/nav.html' %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<main class="edit-profile">
    <section class="profile-form">
        <form method="POST" enctype="multipart/form-data" class="edit-profile__form">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Create</button>
            </div>
        </form>
    </section>
</main>


{% include 'insta/footer.html' %}
</body>
{% endblock %}